name: Update Avatar

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  start:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with: 
          node-version: "16.x"

      - name: Install dependencies
        run: npm install

      - name: Run script
        env:
          TOKEN: ${{ secrets.TOKEN }}
          IMAGE_URLS: ${{ secrets.IMAGE_URLS }}
        run: node avatar-changes.js